*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(39%)
    saturate(910%) hue-rotate(210deg) brightness(99%) contrast(97%);
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}
